In [1]:
import pandas as pd

train_df = pd.read_csv("Honeywell/train_data.csv")
test_df = pd.read_csv("Honeywell/test_data.csv")

In [2]:
# preprocessing
import numpy as np
train_df.drop(['sensor_22', 'sensor_23','sensor_24','sensor_25','sensor_26','sensor_27','time_in_cycles'], axis=1, inplace=True)
test_df.drop(['sensor_22', 'sensor_23','sensor_24','sensor_25','sensor_26','sensor_27','time_in_cycles'], axis=1, inplace=True)

train_df['status'] = np.where(train_df['RUL'] < 50, 0, 1)

In [3]:
# splitting the data into train and test

X_train = train_df.drop(['engine_no', 'RUL','status'], axis = 1)
y_train = train_df['status']

X_test = test_df.drop(['engine_no'], axis = 1)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_train,y_train, test_size=0.2, random_state=3)

In [5]:
import lightgbm as lgb

lgb_clss = lgb.LGBMClassifier(learning_rate=0.01,n_estimators=10,num_leaves=100,objective='binary', metrics='auc',random_state=50,n_jobs=-1)
lgb_clss.fit(X_train, y_train)
preds2 = lgb_clss.predict(X_test)

C:\Users\saich\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [6]:
from sklearn.metrics import confusion_matrix,accuracy_score,r2_score,roc_auc_score,precision_score,recall_score,f1_score

In [8]:
print('Acc Score: ',accuracy_score(y_test, preds2))
print('Precision Score: ',precision_score(y_test, preds2))
print('Recall Score: ',recall_score(y_test, preds2))
print('f1 score: ',f1_score(y_test, preds2,'binary'))
print('Roc Auc Score: ',roc_auc_score(y_test, preds2))

Acc Score:  0.7784360189573459
Precision Score:  0.7784360189573459
Recall Score:  1.0
f1 score:  0.8754163890739506
Roc Auc Score:  0.5

In [11]:
preds_train = lgb_clss.predict(X_train)

C:\Users\saich\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [12]:
print('Acc Score: ',accuracy_score(y_train, preds_train))
print('Precision Score: ',precision_score(y_train, preds_train))
print('Recall Score: ',recall_score(y_train, preds_train))
print('f1 score: ',f1_score(y_train, preds_train,'binary'))
print('Roc Auc Score: ',roc_auc_score(y_train, preds_train))

Acc Score:  0.7790578936291285
Precision Score:  0.7790578936291285
Recall Score:  1.0
f1 score:  0.8758094904263244
Roc Auc Score:  0.5

In [13]:
lgb_clss.score(X_test, y_test)

C:\Users\saich\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.7784360189573459

In [77]:
import lightgbm
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(max_depth = 3, n_estimators = 10, random_state = 0, objective = 'binary', learning_rate = 0.01)
lgbm.fit(X_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
        importance_type='split', learning_rate=0.01, max_depth=3,
        min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
        n_estimators=10, n_jobs=-1, num_leaves=31, objective='binary',
        random_state=0, reg_alpha=0.0, reg_lambda=0.0, silent=True,
        subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [78]:
y_train_pred_lgbm = lgbm.predict(X_train)

C:\Users\saich\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [79]:
y_test_pred_lgbm = lgbm.predict(X_test)

C:\Users\saich\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [55]:
import sklearn
import math

mse = sklearn.metrics.mean_squared_error(y_train, y_train_pred_lgbm)

rmse = math.sqrt(mse)

print(rmse)

215.62086087799995

In [ ]:
import lightgbm as lgb
lgb_clss = lgb.LGBMClassifier(learning_rate=0.01,n_estimators=10,num_leaves=100,objective='binary', metrics='auc',random_state=50,n_jobs=-1)
lgb_clss.fit(X_train, y_train)
lgb_clss.score(X_test, y_test)
preds2 = lgb_clss.predict(X_test)
print('Acc Score: ',accuracy_score(y_test, preds2))
print('Roc Auc Score: ',roc_auc_score(y_test, preds2))
print('Precision Score: ',precision_score(y_test, preds2))
print('Recall Score: ',recall_score(y_test, preds2))
print('f1 score: ',f1_score(y_test, preds2,'binary'))

In [12]:
len(train_df['engine_no'].unique())

709

train_df['engine_no'].unique()

In [14]:
test_df.describe()

,engine_no,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,...,sensor_18,sensor_19,sensor_20,sensor_21,sensor_22,sensor_23,sensor_24,sensor_25,sensor_26,sensor_27
count,104897.000000,104897.000000,104897.000000,104897.000000,104897.000000,104897.000000,104897.000000,104897.000000,104897.000000,104897.000000,...,104897.000000,104897.000000,104897.000000,104897.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,354.311038,95.406589,17.243810,0.410887,95.748591,485.791314,597.153354,1464.738375,1257.240382,9.887805,...,2273.841797,98.398282,25.949868,15.570426,NaN,NaN,NaN,NaN,NaN,NaN
std,205.249543,74.311486,16.530141,0.368078,12.328151,30.426804,42.430629,117.856835,135.728855,4.265536,...,142.218102,4.644631,11.701010,7.020590,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,1.000000,-0.008700,-0.000600,60.000000,445.000000,535.410000,1240.940000,1024.900000,3.910000,...,1915.000000,84.930000,10.180000,6.123100,NaN,NaN,NaN,NaN,NaN,NaN
25%,174.000000,38.000000,0.001300,0.000200,100.000000,449.440000,549.780000,1355.140000,1124.030000,5.480000,...,2212.000000,100.000000,14.340000,8.607300,NaN,NaN,NaN,NaN,NaN,NaN
50%,357.000000,80.000000,19.998200,0.620000,100.000000,489.050000,605.530000,1490.160000,1262.850000,9.350000,...,2319.000000,100.000000,24.780000,14.872400,NaN,NaN,NaN,NaN,NaN,NaN
75%,534.000000,135.000000,35.001500,0.840000,100.000000,518.670000,642.200000,1584.810000,1399.460000,14.620000,...,2388.000000,100.000000,38.880000,23.331000,NaN,NaN,NaN,NaN,NaN,NaN
max,706.000000,486.000000,42.008000,0.842000,100.000000,518.670000,644.320000,1609.690000,1434.120000,14.620000,...,2388.000000,100.000000,39.750000,23.849600,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
len(test_df['engine_no'].unique())

707

In [18]:
train_df.groupby('engine_no').mean().head()

,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,...,sensor_19,sensor_20,sensor_21,sensor_22,sensor_23,sensor_24,sensor_25,sensor_26,sensor_27,RUL
engine_no,,,,,,,,,,,,,,,,,,,,,
0,170.5,24.223348,0.579076,94.705882,472.498000,579.660471,1420.638676,1204.612118,7.964588,11.520912,...,98.005441,20.709471,12.423852,NaN,NaN,NaN,NaN,NaN,NaN,169.5
1,161.5,24.002668,0.574305,94.782609,472.958602,579.754006,1414.725435,1195.374379,8.032174,11.577795,...,98.034348,20.920280,12.547875,NaN,NaN,NaN,NaN,NaN,NaN,160.5
2,81.0,22.350603,0.534930,94.285714,475.893540,583.749565,1431.723043,1221.498571,8.422298,12.187702,...,97.847143,21.832733,13.094925,NaN,NaN,NaN,NaN,NaN,NaN,80.0
3,127.0,22.757694,0.545416,93.675889,474.888617,581.339209,1419.961462,1203.318656,8.333992,12.023439,...,97.617391,21.714941,13.027206,NaN,NaN,NaN,NaN,NaN,NaN,126.0
4,92.5,24.399270,0.575790,95.000000,472.112609,579.696304,1422.844402,1209.824239,7.960109,11.527609,...,98.116250,20.678804,12.415955,NaN,NaN,NaN,NaN,NaN,NaN,91.5